@model City

<div>
    <h1>@Model.Name</h1>
    <h3>@Model.Description</h3>
    <div class="row">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
    </div>
    <div class="row mt-3">
    </div>
</div>