@model List<Attraction>

<div class="row">
    @foreach (Attraction attraction in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card" style="width: 20rem; height: 350px; background-color:blanchedalmond; border-radius: 15px">
                @{
                    var imageUrl = attraction.Images?.FirstOrDefault()?.ImageUrl ?? "/images/empty.png";
                    <img src="@imageUrl" class="card-img-top" alt="@attraction.Name"
                         style="object-fit: cover; height: 150px">
                }
                <div class="card-body">
                    <h5 class="card-title">@attraction.Name</h5>

                    <div class="d-flex justify-content-end mt-3 mb-3 ms-3" style="width: 215px">
                        <a asp-area="User" asp-controller="UserHome" asp-action="AttractionDetails" asp-route-id="@attraction.Id"
                           class="btn btn-primary me-2 w-100" style="height: 40px;">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>